/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 3px solid #FFF4;
    width: 180px; /* Tamaño de la sidebar */
    height: 100vh;
    background-color: #333;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Coloca los elementos desde arriba */
    padding-top: 10px; /* Espacio superior para el botón */
    transition: transform 0.3s ease; /* Añadida transición para animación suave */
}

/* Estado colapsado de la sidebar */
.sidebar-collapsed {
    transform: translateX(-130px); /* Deja visible solo el botón (ajusta este valor según necesites) */
}

/* Estilo para el botón dentro de la sidebar */
.desplegar-btn {
    background-color: #333;
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    text-align: right;
    width: 100%;
    position: relative; /* Necesario para mantener el botón visible */
    z-index: 10; /* Asegura que el botón esté siempre por encima */
    right: 0; /* Alinea el botón a la derecha */
}

/* Menú de la sidebar */
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Solo el menú tendrá scroll */
    flex-grow: 1; /* Deja que el menú ocupe todo el espacio disponible */
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    border-top: 1px solid #FFF4;
    color: white;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #34495e;
}

/* Ajustar el contenedor del botón para que quede visible */
.sidebar-collapsed .desplegar-btn {
    padding-right: 15px;
}

/* Personalización de la barra de desplazamiento */
.sidebar-menu::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Personalizar el fondo de la barra de desplazamiento */
.sidebar-menu::-webkit-scrollbar-track {
    background: #444; /* Fondo de la barra */
    border-radius: 10px; /* Bordes redondeados en el track */
}

/* Personalizar el "thumb" (el control deslizante de la barra) */
.sidebar-menu::-webkit-scrollbar-thumb {
    background-color: white; /* Color de la barra deslizante */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #2c3e50; /* Borde alrededor del "thumb" */
}