 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #4A90E2;
    /*background-color: #616161;*/
}

.main-content h1 {
    margin-left: 220px;
    margin-top: -50px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

p{
    margin-left: 250px;
    margin-right: 50px;
    text-align: justify;
    margin-top: 50px;
    line-height: 1.6;
    color: white;
}

/* Contenedor principal */
.main-content {
    flex: 1;
    justify-content:center;
    align-items: center;
}
.logo_la_tina {
    margin-top: -150px;
    margin-left: 38%;
    filter: none;
    width: 60vh;
    height: 60vh;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}